@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
